# Fundamentals of Computer Science
## Introduction to Python

# 1. Basics

## 1.1a Keywords & Identifiers
Keywords are reserved words that define the python structure.

(Note: lowercase except True, False & None).

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Identifiers are the names we assign to classes, functions or variables. Python is case sensitive, therefore
we can use lowercase a-z, uppercase A-Z, digits (0-9) and underscores _ for our names.

It is important to know, that a keyword can **not be an identifier** & that identifiers can **not start with digits**.

## 1.1b Statements & Comments

Statements are instructions that a Python interpreter can execute. We differentiate between assignment statements
with the assignment symbol (e.g. `a = 5`) and other statements (e.g. while). Statements end with a new line.

(Multiple statements on one line are possible using ; )

(Single statements over multiple lines are possible using \ before the new line or brackets/braces [], (), {})


We write codeblocks by using indentation. Any indentation is possible, however it is recommended to use 4 whitespaces
(you can also use the tabulator). Incorrect indentation will result in Indentation Error.

Comments are used to explain your code. Everything after `#` to the newline is ignored by Python.
Starting on a new line we can also use triple quotes `'''`/`"""` around our comment.

## 1.2a Variables and printing
We can write a one liner program and immediately execute this code.

In [2]:
2+2

4

To write bigger programs we use variables which are named using an identifier (remember the naming rules).
It is recommended to use identifiers which explain the variable. If you use several words, use underscore or
uppercase characters to make the variables and your code overall better readable.

**At this point it is also important to note, that you can break Python if you use a word for your variable name,
that serves another purpose in python. E.g. if you use `print=42`, you won't be able to use the `print()` function anymore.**

Built-in Functions: https://docs.python.org/3/library/functions.html

In [3]:
zw = 2
csskjyd = 3
thisisaverylongandhardtoreadvariable = 5

zw + csskjyd + thisisaverylongandhardtoreadvariable

10

In [4]:
number1 = 2
number2 = 3
this_isEasier_toRead = 5
number1 + number2 + this_isEasier_toRead

10

We can also assign the same or multiple values to multiple variables.

In [5]:
a, b, c = 5, 4, 3
"""
a = 5
b = 4
c = 5
"""
a + b + c

12

In [6]:
a = b = c = 5
a + b + c

15

To print values in python we usually use the `print()` function.

In [7]:
number1 = 25
number2 = 30
print(number1, number2)

25 30

However as you might have noticed earlier, in some programs (e.g. here in Jupyter we can print values directly).

In [8]:
number1
number2

30

## 1.2b Important understanding about the assignment symbol

In [9]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

First we assign the reference to a newly created object ([1, 2, 3]) to the variable a with the assignment symbol `=`.
Then we use some code which uses the reference to the object, to work its magic on the underlying object.

In [10]:
print(a)
b = a
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

We can use our previously defined variable again (the reference and the object are stored). Then we use another variable
(b) and assign a reference to the variable a, which in turn references to the underlying object.

In [11]:
b.append(5)
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

If we understand the assignment symbol as a reference, b -> a -> [1,2,3,4,5] it makes sense, that using some code on b,
we don't change b, but the referenced variable a, which in turn changes the referenced object [1,2,3,4].

## 1.2c Immutable and Mutable data

It is important to understand the difference between Immutable (unchangeable) and mutable (changeable).
In Python some objects can be altered and some can not.

Numbers for example are immutable, so if you reference a number and want to reference a new number, the new number is
a new object with. On the other hand a list [1,2,3,4] is mutable and therefore we can alter it (like we did before).

## 1.3 Numbers
Numbers are immutable and there are two types: Natural numbers (integer) and numbers with decimals (float). **Calculating with two integers results in an integer (except for division). Calculating with one float or two floats results in a float.**

(Numbers can also be complex, but you should not have to know this functionality.)

In [12]:
length = 10 # This is an integer
width = 12.5 # This is a float

We can run regular math operations on these numbers.

In [13]:
a = 2
b = 3
c = a + b
print(c)
c = a - b
print(c)
c = a * b
print(c)
c = a / b # Divisions will always result in floats, even if you have two integers - ROUNDS DOWN (also for negative numbers)
print(c)
c = a**b # a^b
print(c)

5
-1
6
0.6666666666666666
8

We can also perform an integer division, which drops the after comma digits.

In [14]:
print(10//2)
print(10//4)

5
2

When we want to know the remainder of the operation, we use the modulo operator `%` which is native to python.

In [15]:
total_pieces_of_bread = 124
average_consumption = 3
children_that_i_can_feed = 124 // 3

pieces_left_over = 124 % 3

print("These should be the same:")
print(total_pieces_of_bread)
print((children_that_i_can_feed * 3) + pieces_left_over)

These should be the same:
124
124

If we want to just alter a numeric variable, we can put the operator in front of the `=` sign.

In [16]:
x = 1
x += 5 # instead of x = x + 5
print(x)
x -= 5
print(x)
x *= 5
print(x)
x /= 5
print(x)

# and %= ; //= ; **=

6
1
5
1.0

Order: **PEMDAS** (Parentheses, Exponentiation, Multiplication/Division, Addition/Substraction) and within each class from left to right.

## 1.4 Strings
Strings are immutable and defined as single characters, words or sentences surrounded by quotes (`'a'` or `"a"`).
We use this to our advantage, when we want to embed a quote in our string (use single quotes in double or triple quotes or double quotes in single or triple quotes (or the escape character \ right before the quote)).

(\ is the continuation character (to write multiline statements or strings), if we use a character immediately after, we call \ the escape character and the whole sequence escape sequence (e.g. \n is an escape sequence to represent a newline character).)

In [17]:
quoted_text = 'Ruth Bader Ginsburg is famous to have said: \"I don’t say women’s rights — I say the constitutional "principle" of the equal citizenship stature of men and women.\"'
print(quoted_text)

Ruth Bader Ginsburg is famous to have said: "I don’t say women’s rights — I say the constitutional "principle" of the equal citizenship stature of men and women."

We can also use operations on our string to concatenate or repeat:

In [18]:
first_name = "Dominik"
last_name = "Buchegger"


full_name = first_name + " " + last_name # string concatenation - remember to add white spaces
print("Hello, my name is " + full_name)

print((first_name + " ")*7)

Hello, my name is Dominik Buchegger
Dominik Dominik Dominik Dominik Dominik Dominik Dominik

Sometimes we want to print a string without **hardcoding** variables. We have different options to do this:

In [19]:
# Curly brackets
text = "Hello my family name is {}, but you can call me {}.".format(last_name,first_name) # values have to be in order
print(text)

# Named curly brackets v1
text = "Hello my family name is {last}, but you can call me {first}.".format(first=first_name, last=last_name)
print(text)

# Named curly brackets v2
text = "Hello my family name is {last}, but you can call me {first}."
print(text.format(first=first_name, last=last_name))

# f-string (insert values directly in the string)
print(f"Hello my family name is {last_name}, but you can call me {first_name}.")

Hello my family name is Buchegger, but you can call me Dominik.
Hello my family name is Buchegger, but you can call me Dominik.
Hello my family name is Buchegger, but you can call me Dominik.
Hello my family name is Buchegger, but you can call me Dominik.

## Excursus User Input
Python provides input() to ask the user for input. If you enter quotes, they are input as part of the string.

In [20]:
user = input("Welcome! What is your name?")
print(f"Hello {user}!")

user+str(12)

Welcome! What is your name?Dominik
Hello Dominik!

'Dominik12'

**The function only returns a string.** However you can convert strings to numbers (which we'll see later on).

## 1.5 Booleans
A lot of programming involves basic logic to make binary (yes/no) decisions. Booleans are pythons object type to
represent logical values.

In [21]:
is_true = True
is_false = False
print(is_true)
print(is_false)

True
False

We can make logical deductions using or, and & not as logical operators on booleans

In [22]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [23]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [24]:
print(not True)

False

We can also check for certain conditions

In [25]:
print(7 > 8)
print(7 > 7)
print(7 == 7)
print(7 != 8)
print(7 >= 7)
print(7 <= 7)

False
False
True
True
True
True

Or check for equalities and inequalities

In [26]:
print("My text" == "My text")
print(14 != 17)

True
True

We can already build basic workflows with the tools we know so far

In [27]:
oil_tank_volume = 4400
user_oil_amount = int(input("How much oil does your tanker carry? "))

boolean_comparison = oil_tank_volume >= user_oil_amount 
print(f"Our tank can store the ship's oil: {boolean_comparison}")

How much oil does your tanker carry? 5500
Our tank can store the ship's oil: False

## 1.6 Collections
Collections are a collection of multiple items. We can differentiate between mutable and immutable collections with
different purposes.

## 1.6a Lists (mutable)
Lists are ordered sequences of items and are declared by enclosing comma separated items with brackets [] .

In [28]:
shopping_list = ["Bananas", "Apples", "Oranges"]
shopping_list

['Bananas', 'Apples', 'Oranges']

In Python, lists can contain multiple object types (even other lists)

In [29]:
mylist = ["Soy Milk", 42, 17.3, True]
mylist

['Soy Milk', 42, 17.3, True]

In [30]:
nested_list = [["Apples",5],["Bananas",2],["Soy Milk", 1]]
nested_list

[['Apples', 5], ['Bananas', 2], ['Soy Milk', 1]]

In [31]:
indented_nested_list = [
                        ["Apples",5],
                        ["Bananas",2],
                        ["Soy Milk", 1],
                        ["Oranges", 9],
                        ["Aperol Spritz", 2],
                        ["Sparkling water",2],
                        ["Prosecco",3]
                       ]
indented_nested_list

[['Apples', 5],
 ['Bananas', 2],
 ['Soy Milk', 1],
 ['Oranges', 9],
 ['Aperol Spritz', 2],
 ['Sparkling water', 2],
 ['Prosecco', 3]]

We can also use operations on lists

In [32]:
my_big_list = indented_nested_list + mylist
my_big_list

[['Apples', 5],
 ['Bananas', 2],
 ['Soy Milk', 1],
 ['Oranges', 9],
 ['Aperol Spritz', 2],
 ['Sparkling water', 2],
 ['Prosecco', 3],
 'Soy Milk',
 42,
 17.3,
 True]

In [33]:
mytriplelist = mylist * 3
mytriplelist

['Soy Milk',
 42,
 17.3,
 True,
 'Soy Milk',
 42,
 17.3,
 True,
 'Soy Milk',
 42,
 17.3,
 True]

We can access individual items in the list using either the index or slicing. *We can use this same logic also on strings.*

However it is important to understand the difference between using the index or slices.

In [34]:
# Index
print(mylist)
print(mylist[0]) # Indeces of items always start at 0 in Python
print(mylist[1])
print(mylist[-1]) # Print the last item without knowing how long the list is

print(nested_list)
print(nested_list[0][1]) #apply multiply indeces if the list is nested

['Soy Milk', 42, 17.3, True]
Soy Milk
42
True
[['Apples', 5], ['Bananas', 2], ['Soy Milk', 1]]
5

In [35]:
# Slicing
print(mylist)
print(mylist[0:2]) # inclusive start index, exclusive end index: | 0 | 1 | 2 | 3 |
print(mylist[1:3]) #                                      slice: 0   1   2   3   4  
print(mylist[:2]) # all before slice 2 (exclusive index 2)
print(mylist[2:]) # all after slice 2 (inclusive index 2)

['Soy Milk', 42, 17.3, True]
['Soy Milk', 42]
[42, 17.3]
['Soy Milk', 42]
[17.3, True]

We can change values in the list by indexing/slicing the values and assigning new values

In [36]:
print(mylist)
mylist[0:2] = "Milk", 47
print(mylist)

['Soy Milk', 42, 17.3, True]
['Milk', 47, 17.3, True]

We can add values to the list by 

(a) slicing values and assigning more new values

(b) .append() / .extend()

(c) concatenating two lists

(d) .insert() / slicing with same start/end

In [37]:
print(mylist)
mylist[2:3] = "Apples", "Peaches" # adds multiple items by replacing item 2
print(mylist)
mylist.append("Beer") # adds a single item after the last item
print(mylist)
mylist.append(["Corn", 2]) # can also add a single nested item after the last item
print(mylist)
mylist.extend(["Syrup", "Tuna", "Water"]) # adds multiple items after the last item
print(mylist)
mylist.insert(2, "Chocolate") # adds a single item before item 2
print(mylist)
mylist[2:2] = "Bananas", "Flour" # adds multiple items before item 2
print(mylist)

['Milk', 47, 17.3, True]
['Milk', 47, 'Apples', 'Peaches', True]
['Milk', 47, 'Apples', 'Peaches', True, 'Beer']
['Milk', 47, 'Apples', 'Peaches', True, 'Beer', ['Corn', 2]]
['Milk', 47, 'Apples', 'Peaches', True, 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
['Milk', 47, 'Chocolate', 'Apples', 'Peaches', True, 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
['Milk', 47, 'Bananas', 'Flour', 'Chocolate', 'Apples', 'Peaches', True, 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']

We can remove values by

(a) del

(b) .remove()

(c) .pop()

(d) .clear()

In [38]:
print(mylist)
del mylist[2] # deletes item(s) at index / in slice
print(mylist)
mylist.remove(True)
print(mylist)
mylist.pop(4) # removes and returns item at given index (no index = pops item at last index)
print(mylist)
mylist.clear() # empties the whole list
print(mylist)
del mylist # deletes the whole list

['Milk', 47, 'Bananas', 'Flour', 'Chocolate', 'Apples', 'Peaches', True, 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
['Milk', 47, 'Flour', 'Chocolate', 'Apples', 'Peaches', True, 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
['Milk', 47, 'Flour', 'Chocolate', 'Apples', 'Peaches', 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
['Milk', 47, 'Flour', 'Chocolate', 'Peaches', 'Beer', ['Corn', 2], 'Syrup', 'Tuna', 'Water']
[]

Other important methods

In [39]:
mylist = ["Soy Milk", 42, 17.3, True]
print("Soy Milk" in mylist) # Checks if a value is existent
print(len(mylist)) # counts hoy many items are in a variable (only the first level when we have nested variables)

for number in range(len(mylist)):
    print(number, mylist[number], end="; ")

print() # only for looks

for number, element in enumerate(mylist):
    print(number, element, end="; ")

print() # only for looks

print(mylist.index(42)) # Returns the index of the first matched item
print(mylist.count(17.3)) # Returns the count of number of items passed as an argument

newlist = mylist.copy() # Makes a copy -> changes leave the original list unchanged

nrlist = [1, 738, 529, 2, 0, 374, 493]
nrlist.sort() # Sorts the list in ascending order
print(nrlist)
nrlist.reverse() # Reverses the list
print(nrlist)

True
4
0 Soy Milk; 1 42; 2 17.3; 3 True;
0 Soy Milk; 1 42; 2 17.3; 3 True;
1
1
[0, 1, 2, 374, 493, 529, 738]
[738, 529, 493, 374, 2, 1, 0]

## 1.6b Tuples (immutable)
Tuples are like lists ordered sequences of items but immutable and are declared by enclosing comma separated items with
brackets (). They are used to write-protect data and are usually faster than lists as they can not change dynamically.

We can use the slicing operator to extract items, but because Tuples are immutable we can NOT add/change/remove values.
We can reassign tuple references (a=tuple1, a=tuple2), delete tuples (del a) or concatenate 2 tuples to create a new tuple.

In [40]:
a = (1, 2, 3)
print(a[1:3])
a = (4, 5, 6)
print(a)

del a

a = (1, 2, 3)
b = (4, 5, 6)
c = a + b
print(c)

(2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

## 1.6c Sets (mutable)
Sets are like lists but contain unique values and are declared by enclosing comma separated items with curly braces {}.
**Since sets are unordered collections, the index and slicing operator have no meaning and don't work.**

In [41]:
soccer_team = {"Lisa", "Anna","Charline"}
print(soccer_team)

{'Charline', 'Anna', 'Lisa'}

Adding a value to the set that is already in it, will not cause a duplicate to show up.

We can add multiple values to a set with `.update()`.

In [42]:
soccer_team.add("Emma")
soccer_team.add("Anna")
print(soccer_team)

{'Charline', 'Anna', 'Emma', 'Lisa'}

We can remove values as with lists

In [43]:
soccer_team.remove("Anna")
print(soccer_team)

{'Charline', 'Emma', 'Lisa'}

We can use sets to compare two groups of values

In [44]:
basketball_team = {"Emily","Charline","Alessandra","Julia"}

basketball_but_not_soccer = basketball_team.difference(soccer_team)
print(basketball_but_not_soccer)

soccer_but_not_basketball = soccer_team.difference(basketball_team)
print(soccer_but_not_basketball)

in_both = soccer_team.intersection(basketball_team)
print(in_both)

not_in_both = soccer_team.symmetric_difference(basketball_team)
print(not_in_both)

all_players = soccer_team.union(basketball_team)
print(all_players)

{'Julia', 'Emily', 'Alessandra'}
{'Emma', 'Lisa'}
{'Charline'}
{'Alessandra', 'Julia', 'Emma', 'Lisa', 'Emily'}
{'Alessandra', 'Charline', 'Emily', 'Julia', 'Emma', 'Lisa'}

## 1.6d Dictionaries (mutable)
Dictionaries are a mutable data format, that has comma seperated key-value pairs and are also defined with curly brackets
{}. Keys and values can both be any type of variable type (int, float, string, bool), but keys have to be unique.

Dictionaries can also be nested to bundle a lot of information in a structured manner.

In [45]:
earthquakes_by_country = {"China": 157, 
                          "Japan":61,
                          "Indonesia": 113,
                          "Iran":106,
                          "Turkey":77} 
print(earthquakes_by_country)

{'China': 157, 'Japan': 61, 'Indonesia': 113, 'Iran': 106, 'Turkey': 77}

In [46]:
country_stats = {
    "China": {"Earthquakes": 157, "State Leader": "Xi Jinping", "Population": 1393000000},
    "Indonesia": {"Earthquakes": 113, "State Leader": "Joko Widodo", "Population": 267700000},
    "Japan": {"Earthquakes": 61, "State Leader": "Shinzo Abe", "Population": 126500000},
    "Iran": {"Earthquakes": 106, "State Leader": "Hassan Rouhani", "Population": 81800000}
}
print(country_stats)

{'China': {'Earthquakes': 157, 'State Leader': 'Xi Jinping', 'Population': 1393000000}, 'Indonesia': {'Earthquakes': 113, 'State Leader': 'Joko Widodo', 'Population': 267700000}, 'Japan': {'Earthquakes': 61, 'State Leader': 'Shinzo Abe', 'Population': 126500000}, 'Iran': {'Earthquakes': 106, 'State Leader': 'Hassan Rouhani', 'Population': 81800000}}

We can access values by indexing with the key. We need to be sure, that the value is in there, otherwise there will be a 
KeyError (if we are not sure, we can use `.get()` - if the value is not found "None" is returned).

In [47]:
print(earthquakes_by_country["China"])
print(earthquakes_by_country.get("China"))
print(earthquakes_by_country.get("Switzerland"))

157
157
None

We can also iterate through the dictionary's keys, values or items (which are tuples containing a key and a value).

In [48]:
print(earthquakes_by_country.keys())
print(earthquakes_by_country.values())
print(earthquakes_by_country.items())

for item in earthquakes_by_country.items():
    print(item)

dict_keys(['China', 'Japan', 'Indonesia', 'Iran', 'Turkey'])
dict_values([157, 61, 113, 106, 77])
dict_items([('China', 157), ('Japan', 61), ('Indonesia', 113), ('Iran', 106), ('Turkey', 77)])
('China', 157)
('Japan', 61)
('Indonesia', 113)
('Iran', 106)
('Turkey', 77)

We can remove values from a dictionary using `.pop(key)` or change/add items by indexing with the key of
the key-value pair we want to modify or add.

In [49]:
country_stats.pop("Indonesia")
country_stats["Turkey"] = {"Earthquakes": 77, "State Leader": "Recep Tayyip Erdoğan", "Population": 82000000}
print(country_stats)

{'China': {'Earthquakes': 157, 'State Leader': 'Xi Jinping', 'Population': 1393000000}, 'Japan': {'Earthquakes': 61, 'State Leader': 'Shinzo Abe', 'Population': 126500000}, 'Iran': {'Earthquakes': 106, 'State Leader': 'Hassan Rouhani', 'Population': 81800000}, 'Turkey': {'Earthquakes': 77, 'State Leader': 'Recep Tayyip Erdoğan', 'Population': 82000000}}

## 1.7 Type Conversion & Type Casting

We have learned that Python has different types. We can check the type of a variable or if an object has a certain type.

In [50]:
a = "2.4"
print(type(a))

b = "2"
print(isinstance(b, str))

<class 'str'>
True

Implicit Type Conversion means that Python automatically converts certain data types into another one. E.g. adding an 
integer & float will result in float while adding a string & integer will result in a typeerror.

The solution to this is called explicit type conversion or type casting. Because we force data into another type,
data might be lost. We can convert:

    int()
    
    float()
    
    str()
    
    bool() # 0 (or empty "") is transformed into False, any other number (or string "a") will be transformed into True
           # and also sequences
           
but need to remember different restrictions (e.g. float to int will truncate the value; conversion from and to strings
must contain compatible values; conversion to dictionary needs each element to be a pair; ...).

Type conversion is often necessary to convert user input (which is always a string) into a number.

In [51]:
a = 5/2
b = 5//2
c = 5%2

d = 5 + 2.5
e = 2.0*7.5

print(type(e))
e

<class 'float'>

15.0

## 1.8 Namespaces
Python uses a concept called Namespaces. For you important to understand is, that there are different levels of namespaces
which means that if we define variable names on a local level (e.g. inside a function) these variables can not be called 
from outside this function (from the global level). But we can call variables defined on the global level from the local 
level.

# 2 Advanced Python

We already know the most common data types, how we can apply operations on them and how we can create small logical flows
with user input. We'll now look at some features of Python that will allow us to build more complicated work flows.

## 2.1 If Statements
If statements check for a condition and then depending on whether it is true executes a block of code.
If the condition is not true then you can specify an `else` clause to execute an alternative block of code.
If we omit the else clause, nothing happens if the condition is not fulfilled.

In [52]:
user_age = int(input("Welcome to the theater, how old are you?"))
price = 50

if user_age >= 18:
    print("You qualify for the regular entry fee")    
else:
    price -= 20
    print("You qualify for the childrens discount and may pay 20 CHF less")

Welcome to the theater, how old are you?19
You qualify for the regular entry fee

With the `elif` clause we can specify any number of additional conditions to check for.

In [53]:
user_height = int(input("Welcome to our clothing store, please enter your height in cm to receive a size recommendation"))

if user_height > 190:
    size = "XL"
elif user_height > 180:
    size = "L"  
elif user_height > 170:
    size = "M"
elif user_height > 160:
    size = "S"
else:
    size = "XS" 

print(f"We recommend size {size} for you. Enjoy your visit")

Welcome to our clothing store, please enter your height in cm to receive a size recommendation175
We recommend size M for you. Enjoy your visit

## 2.2 While Loops (can also have an else block)
While loops allow us to run a codeblock repeatedly as long as the condition is fulfilled.

In [54]:
i = 10
while i<100:
    print(i)
    i = i + 30

10
40
70

But be careful: if you make a mistake in the condition the code might never exit the while loop and you need to restart
the program.

A common mistake is forgetting `i+=1` in the above codeblock.

## 2.3 For Loops (can also have an else block)
For loops iterate over an iterable object (e.g. list / string) and allow us to use each of the elements.
We can give the iterated variable any name as long as we respect the naming rules.

In [55]:
patients = ["Anna", "Philippe", "Cathrine", "Isabelle", "Giacomo", 0]
for name in patients:
    print(f"Welcome to Dr. Philipps office {name}, please have a seat.")

Welcome to Dr. Philipps office Anna, please have a seat.
Welcome to Dr. Philipps office Philippe, please have a seat.
Welcome to Dr. Philipps office Cathrine, please have a seat.
Welcome to Dr. Philipps office Isabelle, please have a seat.
Welcome to Dr. Philipps office Giacomo, please have a seat.
Welcome to Dr. Philipps office 0, please have a seat.

In [56]:
for char in "Hello world":
    print(char)

H
e
l
l
o

w
o
r
l
d

Instead of using a while loop with an incrementing counting integer (`i+=1`) you can also use a for loop with
`range(start -> default:0, end, [steps])`. Notice that the last digit is not considered (similar to slicing a string where 
the stopping index is not included).

In [57]:
i = 20
print(i)

for i in range(10):
    print(i)

print(i)


for i in range(2,123,17):
    print(i)

20
0
1
2
3
4
5
6
7
8
9
9
2
19
36
53
70
87
104
121

A logic error known as an **off-by-one error** occurs when you assume that range’s argument value
is included in the generated sequence.

## 2.4 Break, Continue & Pass

We use `break` to exit a loop (e.g. when a special condition is fulfilled)

In [58]:
# Lets say our store offers a discount on any item that costs more than 5 CHF and 
#  we want to calculate the final price at the checkout. If there is any issue with
#  the prices in the list, then we want the system to stop immediately

item_prices_of_shopping_basket = [2.50, 6.50, 2.50, 0.50, 11.98, "Apple", 2.50, 7.48]
total = 0

for item_price in item_prices_of_shopping_basket:
    if type(item_price) is not type(2.0):
        print("Abort! There is an error in the item list")
        print(item_price)
        break
    if item_price > 5:
        item_price = item_price * 0.8
    total += item_price

print(f"Total cost: {total} CHF")

Abort! There is an error in the item list
Apple
Total cost: 20.284 CHF

or `continue` which skips the remainder of the loop and continues with the next iteration.

In [59]:
# Same scenario as above, but we decide that we just want to skip the item in question

item_prices_of_shopping_basket = [2.50, 6.50, 2.50, 0.50, 11.98, "Apple", 2.50, 7.48]
total = 0

for item_price in item_prices_of_shopping_basket:
    if type(item_price) != type(1.0):
        print("There is an issue with the item. Item is being skipped.")
        continue
    if item_price > 5:
        item_price = item_price * 0.8
    total += item_price

print(f"Total cost: {total} CHF")

There is an issue with the item. Item is being skipped.
Total cost: 28.768 CHF

`pass` is used as a placeholder and is read by the interpreter but nothing happens.

In [60]:
def new_function():
    pass    
    
print(new_function())

None

## 2.5 Functions
### 2.5.1 Basics
We've already used (already coded) functions like `print()` or `len()`. Now we want to define our own functions.

We have to make sure, that the code we want to run is indented (4 empty spaces or a tab).
We therefore can define a basic function like this:

def function_name():
    # code we want to run

In [61]:
def hello():
    user_name = input("Hello what is your name?")
    print(f"Hello {user_name}!")

But just defining the function does not execute it. To call (or invoke) the function we use its name and add () to its end.

In [62]:
hello

In [63]:
hello()

Hello what is your name?Dominik
Hello Dominik!

Remember that variables inside the function (local namespace) are not accessible outside of it.

In [64]:
my_result = 20

def multiply_ten_by_itself():
    my_result = 10
    my_result *= 10    
    print(f"Your result is {my_result}")
    
multiply_ten_by_itself()
print(my_result) # the variable wont be found

Your result is 100
20

### 2.5.2 Arguments and parameters
Arguments are values we pass to a function (as a parameter for this function) and can be used inside this function

In [65]:
def add(number1, number2): # the arguments which are passed to this function have the variable names number1 & number2
    print(number1 + number2)
    return None
    
x = add(5, 7)
print(x)

12
None

### 2.5.3 Return values
Consider the last function we built. Its quite useful, but maybe we want to use the input for a further step 
instead of just having the function print something.

We use return values for this, which are values which the function gives us back as a variable.

In [66]:
def add(number1, number2): 
    c = number1 + number2
    return c

x = 10
y = (add(5, 7) / 2)
print(x + y)
print(c)

16.0
1

The return keyword terminates a function, code after it will not be executed anymore.

In [67]:
def add(number1, number2): 
    c = number1 + number2
    return 5
    print("This will not be printed!")

print(add(5, 7) / 2)

2.5

### 2.5.4 Parameters
Sometimes we don't remember the right order in which we have to specify our arguments. 
We can therefore name the arguments explicitly.

In [68]:
def subtract(x, y):
    print(x-y)
    
subtract(10,5)
subtract(5,10)
subtract(y=5,x=10)

5
-5
5

Sometimes we don't want to enter a parameter everytime it stays the same, but have the possibility to change 
it if necessary.

In [69]:
def say_hello(name, greeting_prefix="Hello"):
    greetings = greeting_prefix + " " + name
    print(greetings)
    
say_hello("Dominik")
say_hello("Dominik", greeting_prefix="Gruezi")

Hello Dominik
Gruezi Dominik

## 2.6 Libraries / Modules

We can import modules from libraries that allow us to use certain functions programmed by other people.

In [70]:
localtime()

NameError: name 'localtime' is not defined

In [71]:
import time
time.localtime()

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=15, tm_hour=10, tm_min=2, tm_sec=9, tm_wday=0, tm_yday=227, tm_isdst=1)

In [72]:
import time as tm
tm.localtime()

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=15, tm_hour=10, tm_min=2, tm_sec=10, tm_wday=0, tm_yday=227, tm_isdst=1)

In [73]:
from time import localtime
localtime()

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=15, tm_hour=10, tm_min=2, tm_sec=12, tm_wday=0, tm_yday=227, tm_isdst=1)